* {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  font-family: "Space Mono", monospace; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BioRhyme", serif; }

.btn-success {
  background-color: #d45fc1;
  border: solid #fff 1px; }

.btn-success:hover {
  background-color: #e63ab2;
  border: #fff !important; }

.btn-success:active {
  background-color: #e63ab2 !important;
  border: #fff !important;
  box-shadow: none !important; }

.btn-success:focus {
  background-color: #e63ab2;
  border: #fff !important;
  box-shadow: none !important; }

label {
  display: inline-block;
  width: 9rem; }

button {
  user-select: none; }

header .contenedor-menu {
  background: url(/assets/fondo.png), linear-gradient(to left, #d45fc1, #e63ab2); }
  header .contenedor-menu .titulo h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
    margin: 0;
    user-select: none; }
  header .contenedor-menu .menu button {
    background-color: #d45fc1;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #e63ab2;
    border-radius: 5px;
    padding: 10px; }
    header .contenedor-menu .menu button:hover {
      background-color: #e63ab2;
      border: 1px solid #d45fc1; }
  header .contenedor-menu .menu #precargaDatos {
    display: none; }

.contenedor-info {
  margin-top: 1px; }
  .contenedor-info .contenedor-curso {
    display: none; }
    .contenedor-info .contenedor-curso button {
      background-color: #d45fc1;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #e63ab2;
      border-radius: 5px;
      padding: 10px; }
      .contenedor-info .contenedor-curso button:hover {
        background-color: #e63ab2;
        border: 1px solid #d45fc1; }
    .contenedor-info .contenedor-curso .agregar-curso {
      margin-top: 2rem;
      display: none; }
    .contenedor-info .contenedor-curso .mostrar-curso {
      display: none;
      max-height: 500px;
      width: 50%;
      margin-top: 2rem;
      overflow: scroll;
      overflow-x: hidden; }
      .contenedor-info .contenedor-curso .mostrar-curso button {
        background-color: #e63ab2;
        color: #fff;
        font-size: .7rem;
        padding: .3rem;
        border-radius: .5rem;
        margin-left: 2rem; }
        .contenedor-info .contenedor-curso .mostrar-curso button:hover {
          background-color: #d45fc1; }
  .contenedor-info .contenedor-alumnos {
    display: none; }
    .contenedor-info .contenedor-alumnos button {
      background-color: #d45fc1;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #e63ab2;
      border-radius: 5px;
      padding: 10px; }
      .contenedor-info .contenedor-alumnos button:hover {
        background-color: #e63ab2;
        border: 1px solid #d45fc1; }
    .contenedor-info .contenedor-alumnos .agregar-alumno {
      display: none;
      margin-top: 2rem; }
    .contenedor-info .contenedor-alumnos .mostrar-alumnos {
      display: none;
      margin-top: 2rem;
      max-height: 500px;
      width: 50%;
      margin-top: 2rem;
      overflow: scroll;
      overflow-x: hidden; }
      .contenedor-info .contenedor-alumnos .mostrar-alumnos button {
        background-color: #e63ab2;
        color: #fff;
        font-size: .7rem;
        padding: .3rem;
        border-radius: .5rem;
        margin-left: 2rem; }
        .contenedor-info .contenedor-alumnos .mostrar-alumnos button:hover {
          background-color: #d45fc1; }

#modalPersona .modal-header #spanAlumno, #modalPersona .modal-header #spanCursos, #modalPersona .modal-header #spanAlumnos, #modalPersona .modal-header #spanModificarA, #modalCurso .modal-header #spanAlumno, #modalCurso .modal-header #spanCursos, #modalCurso .modal-header #spanAlumnos, #modalCurso .modal-header #spanModificarA, #modalEAlumnos .modal-header #spanAlumno, #modalEAlumnos .modal-header #spanCursos, #modalEAlumnos .modal-header #spanAlumnos, #modalEAlumnos .modal-header #spanModificarA, #modalMAlumnos .modal-header #spanAlumno, #modalMAlumnos .modal-header #spanCursos, #modalMAlumnos .modal-header #spanAlumnos, #modalMAlumnos .modal-header #spanModificarA {
  color: #e63ab2; }

#modalPersona .modal-body .strong, #modalCurso .modal-body .strong, #modalEAlumnos .modal-body .strong, #modalMAlumnos .modal-body .strong {
  font-weight: bold;
  margin-top: 1rem; }

#modalPersona .modal-body button, #modalCurso .modal-body button, #modalEAlumnos .modal-body button, #modalMAlumnos .modal-body button {
  background-color: #d45fc1;
  border: 1px #e63ab2;
  border-radius: 3px;
  padding: 3px;
  color: #fff;
  text-transform: uppercase; }

#modalPersona .modal-body #select-alumnoCursos, #modalCurso .modal-body #select-alumnoCursos, #modalEAlumnos .modal-body #select-alumnoCursos, #modalMAlumnos .modal-body #select-alumnoCursos {
  margin-bottom: 2rem; }

#modalPersona .modal-footer button, #modalCurso .modal-footer button, #modalEAlumnos .modal-footer button, #modalMAlumnos .modal-footer button {
  text-transform: uppercase; }
  #modalPersona .modal-footer button.btn-agregar, #modalCurso .modal-footer button.btn-agregar, #modalEAlumnos .modal-footer button.btn-agregar, #modalMAlumnos .modal-footer button.btn-agregar {
    background-color: #e63ab2;
    color: #fff;
    width: 7.2rem; }
  #modalPersona .modal-footer button.btn-eliminar, #modalCurso .modal-footer button.btn-eliminar, #modalEAlumnos .modal-footer button.btn-eliminar, #modalMAlumnos .modal-footer button.btn-eliminar {
    background-color: rgba(246, 0, 0, 0.993);
    color: #fff;
    width: 7.2rem; }
  #modalPersona .modal-footer button.btn-cerrar, #modalCurso .modal-footer button.btn-cerrar, #modalEAlumnos .modal-footer button.btn-cerrar, #modalMAlumnos .modal-footer button.btn-cerrar {
    background-color: gray;
    color: #fff;
    width: 7.2rem;
    margin-left: 2rem; }
  #modalPersona .modal-footer button.btn-cerrar, #modalCurso .modal-footer button.btn-cerrar, #modalEAlumnos .modal-footer button.btn-cerrar, #modalMAlumnos .modal-footer button.btn-cerrar {
    background-color: gray;
    color: #fff;
    width: 7.2rem; }
  #modalPersona .modal-footer button.btn-ok, #modalCurso .modal-footer button.btn-ok, #modalEAlumnos .modal-footer button.btn-ok, #modalMAlumnos .modal-footer button.btn-ok {
    background-color: #e63ab2;
    color: #fff;
    width: 7.2rem; }

footer {
  background: url(/assets/fondo.png), linear-gradient(to left, #d45fc1, #e63ab2);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  color: white; }
  footer h5 {
    text-align: center;
    padding-top: .2rem; }
