@import "presets.scss";

label{
    display: inline-block;
    width: 9rem;
}

button{
    user-select: none;
}

header {
    .contenedor-menu {
        background: url(https://lucasezequielpereyra.github.io/coder-js/assets/fondo.png), linear-gradient(to left, #d45fc1, #e63ab2);
        .titulo {
            h1 {
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding-top: 1.5rem;
                margin: 0;
                user-select: none;
            }
        }

        .menu {
            button {
                background-color: #d45fc1;
                color: #fff;
                text-transform: uppercase;
                border: 1px solid #e63ab2;
                border-radius: 5px;
                padding: 10px;
                &:hover {
                    background-color: #e63ab2;
                    border: 1px solid #d45fc1;
                }
            }
            #precargaDatos{
                display: none;
            }
        }
    }
}

.contenedor-info {
    margin-top: 1px;
    .contenedor-curso {
        display: none;
        button {
            background-color: #d45fc1;
            color: #fff;
            text-transform: uppercase;
            border: 1px solid #e63ab2;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                background-color: #e63ab2;
                border: 1px solid #d45fc1;
            }
        }
        .agregar-curso {
            margin-top: 2rem;
            display: none;
        }
        .mostrar-curso {
            display: none;
            max-height: 500px;
            width: 50%;
            margin-top: 2rem;
            overflow: scroll;
            overflow-x: hidden;

            button{
                background-color: #e63ab2;
                color: #fff;  
                font-size: .7rem;
                padding: .3rem;
                border-radius: .5rem;
                margin-left: 2rem;
                &:hover{
                    background-color: #d45fc1
                }
            }
        }
    }

    .contenedor-alumnos {
        display: none;
        button {
            background-color: #d45fc1;
            color: #fff;
            text-transform: uppercase;
            border: 1px solid #e63ab2;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                background-color: #e63ab2;
                border: 1px solid #d45fc1;
            }
        }
        .agregar-alumno{
            display: none;
            margin-top: 2rem;
        }

        .mostrar-alumnos{
            display: none;
            margin-top: 2rem;
            max-height: 500px;
            width: 50%;
            margin-top: 2rem;
            overflow: scroll;
            overflow-x: hidden; 
            button{
                background-color: #e63ab2;
                color: #fff;  
                font-size: .7rem;
                padding: .3rem;
                border-radius: .5rem;
                margin-left: 2rem;
                &:hover{
                    background-color: #d45fc1
                }
            }
        }
    }
}

#modalPersona, #modalCurso, #modalEAlumnos, #modalMAlumnos{
    .modal-header{
        #spanAlumno, #spanCursos, #spanAlumnos, #spanModificarA{
            color: #e63ab2;
        }
    }

    .modal-body{
        .strong{
            font-weight: bold;
            margin-top: 1rem;
        }

        button{
            background-color: #d45fc1;
            border: 1px #e63ab2 ;
            border-radius: 3px;
            padding: 3px;
            color: #fff;
            text-transform: 
            uppercase;
        }

        #select-alumnoCursos{
            margin-bottom: 2rem;
        }
    }
    .modal-footer{
        button{
            text-transform: uppercase;
            &.btn-agregar{
                background-color: #e63ab2;
                color: #fff;
                width: 7.2rem;
            }

            &.btn-eliminar{
                background-color: rgba(246, 0, 0, 0.993);
                color: #fff;  
                width: 7.2rem;      
            }

            &.btn-cerrar{
                background-color: rgb(128, 128, 128);
                color: #fff;
                width: 7.2rem;
                margin-left: 2rem;
            }
            &.btn-cerrar{
                background-color: rgb(128, 128, 128);
                color: #fff;
                width: 7.2rem;
            }

            &.btn-ok{
                background-color: #e63ab2;
                color: #fff;
                width: 7.2rem;
            }
        }
    }
}

footer {
    background: url(https://lucasezequielpereyra.github.io/coder-js/assets/fondo.png), linear-gradient(to left, #d45fc1, #e63ab2);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    color: white;
    h5{
        text-align: center;
        padding-top: .2rem;
    }
}