@import "presets.scss";

header {
    .contenedor-menu {
        background: url(/assets/fondo.png), linear-gradient(to left, #d45fc1, #e63ab2);
        .titulo {
            h1 {
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                padding-top: 1.5rem;
                margin: 0;
                user-select: none;
            }
        }

        .menu {
            button {
                background-color: #d45fc1;
                color: #fff;
                text-transform: uppercase;
                border: 1px solid #e63ab2;
                border-radius: 5px;
                padding: 10px;
                &:hover {
                    background-color: #e63ab2;
                    border: 1px solid #d45fc1;
                }
            }
            #precargaDatos{
                display: none;
            }
        }
    }
}

.contenedor-info {
    margin-top: 1px;
    .contenedor-curso {
        display: none;
        button {
            background-color: #d45fc1;
            color: #fff;
            text-transform: uppercase;
            border: 1px solid #e63ab2;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                background-color: #e63ab2;
                border: 1px solid #d45fc1;
            }
        }
        .agregar-curso {
            margin-top: 2rem;
            display: none;
        }
        .mostrar-curso {
            display: none;
            max-height: 500px;
            width: 50%;
            margin-top: 2rem;
            overflow: scroll;
            overflow-x: hidden;

            button{
                background-color: #e63ab2;
                color: #fff;  
                font-size: .7rem;
                padding: .3rem;
                border-radius: .5rem;
                margin-left: 2rem;
                &:hover{
                    background-color: #d45fc1
                }
            }
        }
    }

    .contenedor-alumnos {
        display: none;
        button {
            background-color: #d45fc1;
            color: #fff;
            text-transform: uppercase;
            border: 1px solid #e63ab2;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                background-color: #e63ab2;
                border: 1px solid #d45fc1;
            }
        }
        .agregar-alumno{
            display: none;
            margin-top: 2rem;
        }

        .mostrar-alumnos{
            display: none;
            margin-top: 2rem;
            max-height: 500px;
            width: 50%;
            margin-top: 2rem;
            overflow: scroll;
            overflow-x: hidden; 
            button{
                background-color: #e63ab2;
                color: #fff;  
                font-size: .7rem;
                padding: .3rem;
                border-radius: .5rem;
                margin-left: 2rem;
                &:hover{
                    background-color: #d45fc1
                }
            }
        }
    }
}

#modalPersona, #modalCurso, #modalEAlumnos{
    #spanAlumno, #spanCursos, #spanAlumnos{
        color: #e63ab2;
    }

    .modal-footer{
        button{
            text-transform: uppercase;
            &.btn-agregar{
                background-color: #e63ab2;
                color: #fff;
                width: 7.2rem;
            }

            &.btn-eliminar{
                background-color: rgba(246, 0, 0, 0.993);
                color: #fff;  
                width: 7.2rem;      
            }

            &.btn-cerrar{
                background-color: rgb(128, 128, 128);
                color: #fff;
                width: 7.2rem;
                margin-left: 2rem;
            }
            &.btn-cerrarCurso, &.btn-cerrarAlumno{
                background-color: rgb(128, 128, 128);
                color: #fff;
                width: 7.2rem;
            }

            &.btn-confirmar, &.btn-confirmarAlumno{
                background-color: #e63ab2;
                color: #fff;
                width: 7.2rem;
            }
        }
    }
}